html
  head
    style.
      .footer {
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      }
  body
    .py-3.bg-dark.mb-0.footer
      .container-fluid
        p.m-0.p-0.text-center.text-white Copyright © Your Website 2019
