html
	
	head
		include main header.pug
		include header.pug
		title main
	body
		// Page Content
		.container-fluid
			.row#carouselExampleIndicators.carousel.slide.bg-primary(style='height:700px',data-ride='carousel')
				ol.carousel-indicators
					li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
					li(data-target='#carouselExampleIndicators', data-slide-to='1')
					li(data-target='#carouselExampleIndicators', data-slide-to='2')
				.carousel-inner
					.carousel-item.active
						img.d-block.w-100(src='/images/photo1.jpeg', alt='First slide', height="700px")
					.carousel-item
						img.d-block.w-100(src='/images/image3.jpg', alt='Second slide', height="700px")
					.carousel-item
						img.d-block.w-100(src='/images/image2.jpg', alt='Third slide', height="700px")
				a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
					span.carousel-control-prev-icon(aria-hidden='true')
					span.sr-only Previous
				a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
					span.carousel-control-next-icon(aria-hidden='true')
					span.sr-only Next
			
	include footer.pug


